<body>
<div class="container">
    <div class="form-image">
        <img src="../../../assets/img/form.png" alt="">
    </div>
    <div class="form">
        <form  [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastrar Produto</h1>
                </div>
                <div class="login-button">
                    <a href="#" routerLink="/produto/index" class="btn btn-primary">Voltar</a>
                </div>
            </div>
  
            <div class="input-group">
                <div class="input-box">
                    <label for="name">Nome do produto</label>
                    <input formControlName="name"
                    id="name" 
                    type="text" 
                    class="form-control">
                </div>
        
                <div class="input-box">
                    <label for="descricao">Descrição</label>
                    <input formControlName="descricao"
                    id="body" 
                    type="text" 
                    class="form-control">
                </div>
              
                <div class="input-box">
                    <label for="preco">Preço</label>
                    <input formControlName="preco"
                    id="preco" 
                    type="text" 
                    class="form-control">
                </div>
                <div class="input-box">
                    <label for="preco">Quantidade</label>
                    <input formControlName="quantidade"
                    id="quantidade" 
                    type="text" 
                    class="form-control">
                </div>
  
            </div>
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Cadastrar</button>
        </form>
    </div>
  </div>
</body>