.container{
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 50px;
    align-items: center;
    padding: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}
.btn{
    background-color: black;
    border-color: black;
    border-radius: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    margin-left: 50px;
    margin-right: 50px;
}
nav .logo{
    width: 70px;
}
nav .logo img{
    width: 100%;
}
nav button{
    padding: 10px 20px;
    font-size: 17px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}
